<div class='container'>
  <div class='row upper_container'>
    <div class='search_container'>
        <%= form_tag deals_path, :method => :get, :class => 'navbar-form navbar-left' do %>  
        <div class='form-group'>
          <%= text_field_tag :search, params[:search], class: 'form-control' %>
        </div>
        <%= submit_tag 'Search', :name => nil %>
      <% end %> 
    </div>
  </div>
      
  <% @deals.each_with_index do |d, i| %>
    <% if i % 3 == 0 %>
      <div class='row middle_container'>
    <% end %>  
      <div class='col-md-4'>
        <div class='deal_container'>
          <%= d.title %>
          <img src='<%= d.photo %>'>
        </div>
      </div>
    <% if (i % 3 == 2) || (i == (@deals.length - 1))  %>
      </div>
    <% end %>
  <% end %>

  <div class='text-center'>
    <%= will_paginate @deals %>
  </div>
</div>